@import url("academicons.min.css");
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400|EB+Garamond:400,400italic,700,700italic");

/* Variable definitions */
:root {
    --black: #000000;
    --blue: #0074d9;
    --light-blue: #5cc0ff;
    --dark-blue: #101b38;
    --dark-magenta: #7E2553;
    --red: #FF004D;
    --yellow: #FFEC27;
    --white: #FFFFFF;
    --orange: #FFc400;
    --grey: #C2C3C7;
    --light-green: #10c413;
    --green: #15a31c;
    --line-height: 2px;
    --header-font: Lato;
    --body-font: EB Garamond;
    --width: 70%;
    --color-primary: var(--blue);
    --color-background: var(--white);
    --color-text: var(--black);
    --color-highlight: var(--green);
    --color-inactive: var(--grey);
    --color-inactive-text: var(--color-primary);
    --color-active-text: var(--white);
    --color-line: var(--color-highlight);
    --line: 3px dotted var(--color-line);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--dark-blue);
        --color-highlight: var(--light-green);
        --color-text: var(--white);
        --color-primary: var(--light-blue);
        --color-active-text: var(--dark-blue);
        --color-inactive-text: var(--dark-blue);
        --color-line: var(--color-highlight);
    }
}

@media (min-width: 1000px) { 
   :root{
      --width: 800px;
   }
}

@media (max-width: 1000px) { 
   :root{
      --width: 80%;
   }
}

/* Use horizontal navbar when screen > 600px */
@media (min-width: 600px) {
    .navbar {
        margin-bottom:2em;
        li {
            float: left;
        }
        ul {
            position: fixed;
        }
    }
}

/* Color of name in CV */
#cv {
    strong {
        color: var(--color-highlight);
    }
}

/* General document properties */
body {
    font-family: var(--body-font);
    font-size: 1.2rem;
    align-items: center;
    max-width: var(--width);
    margin-inline: auto;
    background-color: var(--color-background);
    color: var(--color-text);
}

hr {
    border-top: var(--line);
    border-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1em;
    font-family: var(--header-font);
    color: var(--color-primary);
    width: var(--width);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border: 0;
    color: inherit;
    text-decoration: none;
}

h1 {
    border-bottom: var(--line);
    text-transform: uppercase;
    line-height: 1em;
    font-size: 1.7em;
    padding-bottom: 0.31em;
    margin-bottom: .31em;
}

h2 {
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 1.25em;
}

h3 {
    font-size: 1.1em;
    line-height: 1.1em;
}

h4 {
    font-size: 1em;
    line-height: 1em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline;
}

a:visited{
    color: var(--color-primary);
}

/* Style navbar, based on https://www.w3schools.com/css/css_navbar_horizontal.asp*/
.navbar {
    background: var(--color-background);
    margin-bottom:3.5em;
    ul {
        background-color: inherit;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: var(--width);
        border-bottom: 1px solid var(--color-primary);
        top: 0;
    }
    li:last-child {
        border-right: none;
    }
    li a {
        display: block;
        color: var(--color-primary);
        text-align: left;
        padding: 12px 16px;
        text-decoration: none;
        font-family: var(--header-font);
    }
    li a:hover:not(.active) {
        background-color: var(--color-inactive);
        color: var(--color-inactive-text)
    }
    .active {
        background-color: var(--color-primary);
        color: var(--color-active-text);
    }
}

#figure {
    display: flex;
    width: 75%;
    img {
        align-items: center;
        display: block;
        width: 100%;
        margin-inline: auto;
    }
}

#profile_pic {
    float:right;
    margin:0em;
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}

.footer {
    font-size: .8em;
}

.icon.solid:before {
    font-weight: 900;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
}

.icon.brands:before {
    font-family: 'Font Awesome 6 Brands';
}


/* Code blocks */

code {
    background: rgb(245, 237, 216);
    border-radius: 5px;
    color: #000000;
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
    margin: 0 0 2.25em 0;
}

pre code {
    -webkit-overflow-scrolling: touch;
    display: block;
    line-height: 1.5em;
    overflow-x: auto;
    padding: 1em 1.5em;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.youtube-video {
    display: flex;
    align-items: center;
    aspect-ratio: 16 / 9;
    width: 80%;
    margin-inline: auto;
}

legend {
    font-family: var(--header-font);
    text-transform: uppercase;
    color: var(--color-primary);
}

.controls5{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex:1;
    column-gap:2rem;
    line-height: 1.5em;
}

.centered-block{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    flex:1;
    column-gap:1rem;
    width: 100%
}

canvas {
    width: max(35vw, 360px);
    display: block;
    flex: 1;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
}

.fieldset {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.input-container {
    flex: 1;
    width: max(10vw, 300px);
}

.textarea{
    width: 95%; /* extend the width of the grid item */
    box-sizing: border-box; /* including padding / border in width */
}

.btn-group button {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
